.navbar {
    height: 80px !important;
    font-size: 16pt;
    font-weight: 600 !important;
    background: #47515b !important;
    color: white !important;
}

.text-white {
    color: white !important;
}

.alert {
    border-radius: 16px;
    background: #ff4850;
    color: white;
    font-weight: 500;
}

.card-header {
    background: black;
    font-weight: 600;
    color: white;
}

.form-group label {
    font-weight: 600 !important;
}

.heading-text {
    padding-top: calc(40vh - 160px) !important;
    font-weight: 800;
    font-size: 60pt;
}

.header-text {
    font-weight: 800 !important;
    font-size: 48pt !important;
}

.heading-input {
    margin-top: 16px;
    width: calc(50% - 17px - 1.5rem) !important;
    padding: 8px 16px;
    border-radius: 16px;
    font-weight: 600;
}
#heading-search-button {
    width: 100px;
    padding: 8px 16px;
    text-align: center;
}

#car-container {
    height: calc(100vh - 80px);
    background-color: #f5ebbf;
    background-image: url("/static/images/banner.jpg");
    background-position: center center;
    background-size: cover;
}

.space-container {
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn.btn-dark {
    background: black;
    border-radius: 16px;
    font-weight: 800;
    height: 100%;
    text-transform: uppercase;
    color: white !important;
    padding: 8px 16px !important;
}