.navbar {
    height: 100px !important;
    font-size: 16pt;
    font-weight: 600 !important;
    background: #ffcd16!important;
}

#car-container {
    height: calc(100vh - 100px);
    background-color: #b08d0e;
}