{% extends "base.html" %}
{% block content %}
    <div class="container space-container">
        <div class="card mini-card">
            <div class="row">
                <div class="col col-sm-9">
                    <img src="{{ details.user_images.0 }}" width="100%" />
                </div>
                <div class="col col-sm-3">
                    <span class="header-text">{{ details.owner_exp }}</span>
                    <span class="header-text disabled">${{ details.price }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}