{% extends "base.html" %}
{% block content %}
    <div class="container">
        <span class="header-text">Garage <a class="btn btn-dark" type="submit" href="/add_car">Add Car</a></span>
        <div class="row">
            {% for car in cars %}
                <div class="col col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            {{ car.user }}
                        </div>
                        <img class="card-img-top" alt="Card image cap" src="{{ car.images.0 }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
                            <a href="#" class="btn btn-dark">→</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}