{% extends "base.html" %}
{% block content %}
    <div id="car-container">
        <div class="container">
            <div class="text-light heading-text">Every car has a <span class="white-outline">story</span>.</div>
            <form action="/search" class="form-inline" method="post">
                <input class="form-control mr-sm-2 heading-input" type="text" placeholder="Make" aria-label="Make"
                       id="make" name="make">
                <input class="form-control mr-sm-2 heading-input" type="text" placeholder="Model" aria-label="Model"
                       id="model" name="model">
                <button class="btn btn-dark" id="heading-search-button" type="submit">Search</button>
            </form>
        </div>
    </div>
{% endblock %}